<nav
  [ngClass]="{ 'sidebar-open': this.openSideMenu }"
  class="sidebar navbar navbar-dark bg-primary h-100 flex-nowrap flex-column align-items-stretch"
>
  <a class="navbar-brand text-white">Content</a>
  <div class="ml-sm-0 navbar-collapse overflow-auto reverse-scroll">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Add Blog</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#">Push Notification</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Blob</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Add Blog</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#">Push Notification</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Blob</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Add Blog</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#">Push Notification</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Blob</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Add Blog</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#">Push Notification</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Blob</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Add Blog</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#">Push Notification</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Blob</a></li>
    </ul>
  </div>
</nav>
